/* Definindo fontes */
body {
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  /* Estilo do formulário */
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
  
    padding: 10px;
    font-size: 18px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* Estilo das listas */

  .tasks {
    display: flex;
  }
  
  .pending-tasks, .completed-tasks {
    flex: 1;
    margin-right: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  h2 {
    margin-bottom: 10px;
  }

  
  
  li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  li.completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  